__pycache__/
*.pyc
.env
.env.*
# Ignore all env files but the example
!.env.example

.idea/
.vscode/
.cache/
*.db
# Ignore all pdf files
*.pdf
# Except those that are ment for testing
!temp/test_files/*.pdf

# Upload files directory - ignore all uploaded files but keep the directory
upload_files/*
!upload_files/.gitkeep

temp/*